<div class="bottom-nav">
  <div class="nav-container">
    <a class="nav-item" [routerLink]="['/home']" routerLinkActive="active">
      <ion-icon name="home"></ion-icon>
      <span>Home</span>
    </a>

    <a class="nav-item" [routerLink]="['/watchlist']" routerLinkActive="active">
      <ion-icon name="bookmark"></ion-icon>
      <span>Watchlist</span>
    </a>

    <a class="nav-item" [routerLink]="['/cinema']" routerLinkActive="active">
      <ion-icon name="business"></ion-icon>
      <span>Kinos</span>
    </a>

    <a class="nav-item" [routerLink]="['/settings']" routerLinkActive="active">
      <ion-icon name="settings"></ion-icon>
      <span>Settings</span>
    </a>
  </div>
</div>
